doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title= tittle
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    include partials/head.pug  
  body
    .topnav
      a.active(href='#home') Home
      a(href='#news') uno
      a(href='#contact') dos
      a(href='#about') tres
      a(href='#about') cuatro
      a(href='#about') cinco
      a(href='#about') seis
      form.example(action='/action_page.php')
        input(type='text' placeholder='buscar..' name='search')
        button(type='submit')
          i.fa.fa-search
    .grid
      .publicacion1
        h3 titulo 
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam omnis eos voluptas doloribus, facere magni ducimus ullam nostrum eligendi corporis. Asperiores optio commodi officia inventore recusandae. Reiciendis culpa aspernatur eligendi.
        h2 primer publicacion
      .publicacion2
        h3 titulo 
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nobis ea corporis nemo, fuga quos magnam dolorum alias eos dolorem quae esse fugit obcaecati velit, beatae soluta distinctio, voluptas libero!
        h2 segunda publicacion
      .publicacion3
        h3 titulo 
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam omnis eos voluptas doloribus, facere magni ducimus ullam nostrum eligendi corporis. Asperiores optio commodi officia inventore recusandae. Reiciendis culpa aspernatur eligendi.
        h2 tercera publicacion
      .publicacion4
        h3 titulo 
        p
          | Lorem ipsum dolor si  t amet consectetur adipisicing elit. Quam omnis eos voluptas doloribus, facere magni ducimus ullam nostrum eligendi corporis. Asperiores optio commodi officia inventore recusandae. Reiciendis culpa aspernatur eligendi.
        h2 cuarta publicacio        