.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: rgb(76, 111, 175);
    color: white;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 22px;
    border: 1px solid grey;
    float: left;
    width: 53%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 5%;
    padding: 10px;
    background: #da570b;
    color: white;
    font-size: 22px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: rgb(226, 141, 29);
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    grid-template-areas: "a a a a a a b b b b b b" "c c c c c c d d d d d d";
}

.publicacion1 {
    background: white;
    grid-area: a;
}

.publicacion2 {
    background: white;
    grid-area: b;
}

.publicacion3 {
    background: white;
    grid-area: c;
}

.publicacion4 {
    background: white;
    grid-area: d;
}

h3 {
    text-align: center;
}

h2 {
    text-align: center;
    background: grey;
    padding: 100px 10px 100px 10px;
    color: white;
    margin: 10px;
}