div(class = "topnav")
      a(class = "active")(href='/' + url) Home
      a(href='/' + url) Dos
      a(href='/' + url) Tres
      a(href='/' + url) Cuatro
      a(href='/' + url) Cinco
      a(href='/' + url) Seis